@page "/events"
@inject EventApiService _eventApiService

<PageTitle>Events</PageTitle>

<h3>Events</h3>

@if (events == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        @foreach (var ev in events)
        {
            <tr>
                <td>@ev.EventId</td>
                <td>@ev.Description</td>
                <td>@ev.StartTime</td>
                <td>@ev.EndTime</td>
                <td>@ev.DateOfEvent.ToShortDateString()</td>
                <td>@ev.StreetName</td>
                <td>@ev.City</td>
                <td>@ev.ZipCode</td>
                <td>@ev.Country</td>
                <td>@ev.Status</td>
                <td>@ev.FamilyFriendly</td>
                <td>@ev.NumberOfAttendees</td>
                <td>@ev.TrashCollected</td>
            </tr>
        }
    </table>
}

@code {
    private Result<List<EventDTO>> result;

    private List<EventDTO> events;

    protected override async Task OnInitializedAsync()
    {

        result = await _eventApiService.GetEventsAsync();

        events = result.Data;

    }
}
